@font-face {
    font-family: 'harabara_maisharabaramaisdemo';
    src: url('/fonts/harabara_mais_demo-webfont.woff2') format('woff2'),
         url('/fonts/harabara_mais_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

img#close {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 35px;
    height: 35px;
}

div#add-game-form {
    position: absolute;
    top: 25%;
    left: 50%;
    display: none;
    margin-left: -280px;
    font-family: 'harabara_maisharabaramaisdemo';
}

form {
    flex-direction: column;
    display: flex;
    border: 5px solid white;
    border-radius: 10px;
    max-width: 450px;
    min-width: 450px;
    padding:10px 50px;
    background-image: linear-gradient(to bottom right, black, #222, black);
    font-family: 'harabara_maisharabaramaisdemo';
    color: #d9b100;
}

h2 {
    margin: -10px -50px;
    border-radius: 10px 10px 0 0;
    padding: 20px 35px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    letter-spacing: 4px;
}

h3#form-versus-text {
    position: absolute;
    top: 60px;
    left: 230px;
    z-index: 99;
    font-size: 5em;
}

hr {
    margin:10px -50px;
    border:0;
    border-top:1px solid #444;
}

input, select {
    margin-top: 10px;
    margin-bottom: 40px;
    box-sizing: border-box;
    width: 150px;
    padding: 10px;
}

div#fields-container {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    letter-spacing: 4px;
}

div#form-left-column {
    flex-direction: column;
    display: flex;
    text-align: left;
}

div#form-right-column {
    display: flex;
    flex-direction: column;
    text-align: right;
}

a#submit {
    display: block;
    margin: 10px auto;
    border: 1px solid #444;
    border-radius: 5px;
    width: 200px;
    padding: 10px 0;
    background-image: linear-gradient(to bottom, black, #222, black);
    background-color:#111;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 4px;
    color: #d9b100;
}
