@font-face {
    font-family: 'harabara_maisharabaramaisdemo';
    src: url('/fonts/harabara_mais_demo-webfont.woff2') format('woff2'),
         url('/fonts/harabara_mais_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/** ************* ***
*** ADD GAME FORM ***
*** ************* **/

div#add-game-form {
    position: absolute;
    display: none;
    font-family: 'Russo One';
    max-width: 500px;
    min-width: 300px;
}

div#add-game-form form {
    flex-direction: column;
    display: flex;
    font-family: 'Russo One';
    color: #d9b100;
}

div#add-game-form h2 {
    padding: 20px 35px;
    text-align: center;
    letter-spacing: 4px;
    font-size: 3em;
    margin-bottom: 25px;
}

h3#form-versus-text {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 50%;
    overflow: auto;
    margin: auto;
    text-align: center;
    z-index: 4;
    font-size: 2.5em;
    padding: 27px 0;
}

div#add-game-form label {
    font-size: 1.5em;
}

div#add-game-form input, select {
    margin-top: 20px;
    margin-bottom: 70px;
    box-sizing: border-box;
    width: 150px;
    padding: 10px;
    background-color: #111;
    color: #ccc;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 1em;

}

div#fields-container {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    text-transform: uppercase;
    letter-spacing: 4px;
}

div#player-one-column {
    flex-direction: column;
    display: flex;
    text-align: left;
    z-index: 5;
}

div#player-two-column {
    display: flex;
    flex-direction: column;
    text-align: right;
    z-index: 5;
}

a#btn-submit {
    display: block;
    margin: 0 auto;
    border: 1px solid #444;
    border-radius: 5px;
    width: 200px;
    padding: 10px 0;
    background-image: linear-gradient(to bottom, black, #222, black);
    background-color:#111;
    cursor: pointer;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #d9b100;
}

a#btn-submit:hover {
    box-shadow: 0 0 10px #666;
    color: white;
}

img#add-game-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    height: 40px;
    z-index: 5;
}

.choose-team {
    text-transform: uppercase;
}

/** ********** ***
*** LOGIN FORM ***
*** ********** **/


div#login-form {
    display: none;
}
div.form *, *:before, *:after {
    box-sizing: border-box;
}

div.form a {
    text-decoration:none;
    color:#144d91;
    transition:.5s ease;
}

div.form a:hover {
    color: #144d91;
}

.form {
    position: absolute;
    top: 10%;
    background-image: linear-gradient(to bottom right, black, #222, black);
    padding: 40px;
    width: 33%;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    border: 1px solid #333;
    box-shadow:0 4px 10px 4px rgba(19, 35, 47,0.3);
}

.tab-group {
    list-style:none;
    padding:0;
    margin:25px 0 40px 0;
}

div.form .tab {
    background-color: #555;
}

div#signup {
    display: flex;
    flex-direction: column;
}

div.form li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba(#a0b3b0,.25);
    font-family: 'Russo One';
    color:#ccc;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
}

div.form li:hover {
    background:#144d91;
    color: white;
}

div.form .active a {
    background:#144d91;
    color: white;
}

.tab-group:after {
    content: "";
    display: table;
    clear: both;
  }

.tab-content {
    position: relative;
}

.tab-content > div:last-child {
    display:none;
}


div.form h1 {
    text-align: center;
    font-family: 'Russo One';
    color: #D9B100;
    font-weight: 500;
    margin:0 0 40px;
}

div#login-form label {
    position:absolute;
    transform:translateY(6px);
    left:13px;
    font-family: sans-serif;
    color: #ccc;
    transition: all 0.1s ease;
    pointer-events: none;
    font-size: 22px;
}

.req  {
    margin: 2px;
    color: #D9B100;
}

div#login-form label.active {
    transform:translateY(50px);
    left:2px;
    font-size:14px;
}

div#login-form label.active.req {
    opacity:0;
}

div.form label.highlight {
    color: white;
}

div.form input, textarea {
    font-size:22px;
    display:block;
    width:100%;
    height:100%;
    padding:5px 10px;
    background-color: #111;
    background-image:none;
    border:1px solid #ccc;
    color: white;
    border-radius:0;
    transition:border-color .25s ease, box-shadow .25s ease;
}

div.form input, select, textarea:focus {
    outline:0;
    border-color:#333;
}

div.form textarea {
    border:2px solid #ccc;
    resize: vertical;
}

.field-wrap {
    position:relative;
    margin-bottom:40px;
}

.top-row  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top-row div {
    width:46%;
}

top-row:after {
    content: "";
    display: table;
    clear: both;
}

div.form .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-family: 'Russo One';
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #144d91;
    color: white;
    transition: all.5s ease;
    -webkit-appearance: none;
}

div.form button:hover, button:focus {
    background: #1c63bb;
}

.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
    font-family: sans-serif;
}

div#login-form img {
    top: -150px;
    right: -30px;
    position: absolute;
    height: 40px;
}