/** ************** ***
    EMBEDDED FONTS
*** ************** **/

@font-face {
    font-family: 'cursed_timer_ulilregular';
    src: url('../fonts/cursedtimerulil-aznm-webfont.woff2') format('woff2'),
        url('../fonts/ursedtimerulil-aznm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'harabara_maisharabaramaisdemo';
    src: url('../fonts/harabara_mais_demo-webfont.woff2') format('woff2'),
        url('../fonts/harabara_mais_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Subway Ticker Grid';
    src: url('../fonts/SubwayTickerGrid.woff2') format('woff2'),
        url('../fonts/SubwayTickerGrid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/** ************************* ***
    MAIN CONTAINERS AND BOXES
*** ************************* **/

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    max-height: 100%;
    background-image: url("../img/desktop-bg-resized.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #000;
}

div#flexbox-container {
    flex-direction: column;
    justify-content: center;
    display: flex;
}

div.box {
    flex-direction: row;
    justify-content: center;
    display: flex;
}

div.top {
    align-items: flex-end;
    min-height: 100px;
}

div.middle {
    min-height: 200px;
}

div.bottom {
    margin-top: 20px;
}

/** **************** ***
    TOP BOX ELEMENTS
*** **************** **/

/** ARENA SECTION **/

div#title-header {
    position: relative;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #144d91;
    border-left: 25px solid transparent;
}

div#title-header h1 {
    position: absolute;
    margin-top: 13px;
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Archivo Black', sans-serif;
    text-shadow: 2px 2px 3px #212585;
    letter-spacing: 4px;
    color: #ccc;
    text-align: center;
}

/** VERSUS SECTION **/

div#vs-header {
    position: relative;
    margin-bottom: -15px;
    border-top: 75px solid rgba(0, 0, 0, 0.7);
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    width: 200px;
}

div#vs-header h3 {
    position: absolute;
    margin-top: -37%;
    margin-left: 27%;
    font-size: 4em;
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ccc;
}

/** PLAYER NAMES **/

div#p1-header {
    transform: skew(35deg);
    margin-right: -20px;
    width: 300px;
    background-color: #a31826;
}

div#p1-header p {
    transform: skew(-35deg);
    margin: 0;
    font-size: 2em;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 3px #6e1501;
    letter-spacing: 6px;
    color: #d9b100;
}

div#p2-header {
    transform: skew(-35deg);
    margin-left: -20px;
    width: 300px;
    background-color: #3248a8;
}

div#p2-header p {
    transform: skew(35deg);
    margin: 0;
    font-size: 2em;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 3px #212585;
    letter-spacing: 6px;
    color: #ccc;
}

/** ************************************************** ***
    MIDDLE BOX ELEMENTS (Everything on the scoreboard)
*** ************************************************** **/

img#scoreboard-bg {
    position: absolute;
    margin-top: 35px;
    width: 900px;
    height: 600px;
    opacity: 0.7;
    z-index: -1;
}

div#scoreboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 35px;
    width: 648px;
    height: 600px;
}

/** AVATARS **/

div#avatars-row {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1150px;
    margin-top: 200px;
}

img.avatar {
    width: 250px;
    height: 250px;
}

/** ROW: HOME GUEST **/

div#home-guest-row {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    width: 648px;
    font-size: 2.5em;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 900;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    color: #ccc;
}

div#home-guest-row p {
    /* margin: 20px 0 0 0; */
    margin: 0;
    width:264px;
}

/** ROW: TOTAL WINS **/

div#total-wins-row {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    /* margin-top: 10px; */
    width: 648px;
}

div#total-wins-row p {
    margin: 0;
    height: 173px;
    padding-top: 27px;
    padding-left: 20px;
    font-size: 10em;
    font-family: 'cursed_timer_ulilregular';
    text-shadow: 1px 1px 10px #ffd400;
    letter-spacing: 15px;
    color: #d9b504;
}

div.total-wins-square {
    border: 7px solid #333;
    box-shadow: inset -2px -2px #666;
    width: 250px;
    height: 200px;
    background-color: black;
}

/** ROW: TOTAL POINTS **/

div#total-pts-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 648px;
    font-size: 2em;
    text-align: center;
}

p.total-pts-text {
    /* margin: 10px 0; */
    font-size: 0.7em;
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
    color: #db2033;
    width: 138px;
}

div.total-pts-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 264px;
}

div.total-pts-square {
    border: 4px solid #333;
    box-shadow: inset -1px -1px #666;
    width: 130px;
    background-color: black;
}

div.total-pts-square p {
    margin: 0;
    padding: 10px;
    font-family: 'cursed_timer_ulilregular';
    color: #d9b504;
    text-align: center;
}

/** ROW: TOTAL BLOWOUTS **/

div#blowouts-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 648px;
    font-size: 2em;
    text-align: center;
}

p.blowouts-text {
    /* margin: 10px 0; */
    font-size: 0.7em;
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
    color: #db2033;
    width: 138px;

}

div.blowouts-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 264px;
}

div.blowouts-square {
    border: 4px solid #333;
    box-shadow: inset -1px -1px #666;
    width: 130px;
    background-color: black;
}

div.blowouts-square p {
    margin: 0px;
    padding: 10px;
    font-family: 'cursed_timer_ulilregular';
    color: #d9b504;
    text-align: center;
}

/** SCROLLING MARQUEE **/

marquee {
    overflow: hidden;
    border-radius: 20px;
    width: 648px;
    padding-top: 6px;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 2em;
    font-family: 'Subway Ticker Grid';
    text-transform: uppercase;
    color: red;
}

/** ******************* ***
    BOTTOM BOX ELEMENTS
*** ******************* **/

/** ADD GAME BUTTON **/

button#add-game-btn {
    border-radius: 10px;
    border-color: #d9b100;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    font-size: 30px;
    font-family: 'Archivo Black', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    letter-spacing: 5px;
    color: #d9b100;
    cursor: pointer;
    text-transform: uppercase;
    width: 250px;
    height: 100px;
}



/** ************** ***
   Audio PLayer Styling
*** ************** **/

audio {
    width: 600px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    border-radius: 90px;
    transform: scale(1.05);
}

/** ************** ***
    CSS ANIMATIONS
*** ************** **/

/* Bob */
@-webkit-keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }

    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }

    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@-webkit-keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

.hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}


.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

/* Bounce In */
.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}


/* Bounce Out */
.hvr-bounce-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-out:hover,
.hvr-bounce-out:focus,
.hvr-bounce-out:active {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* @group Blink */
.blink {
    -webkit-animation: blink .75s linear infinite;
    -moz-animation: blink .75s linear infinite;
    -ms-animation: blink .75s linear infinite;
    -o-animation: blink .75s linear infinite;
    animation: blink .75s linear infinite;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.name-btn {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    text-transform: uppercase;
}

.name-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
}

.name-btn:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

.name-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.2, 1.2);
}

.name-btn:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}